extends layout

block content
    form(method='POST', action='/blog/edit'+blog.id)
        .jumbotron

            h1.blue Edit blog

            .form-group.align-content-center
                label
                    b Title:&nbsp;
                input(type='text', name='title', value=blog.title).form-control
                br
                br
                label
                    b Author:&nbsp;
                input(type='text', name='author', value = blog.author).form-control
                br
                br
                label
                    b Details:&nbsp;&nbsp
                textarea.form-control(rows=20, name='body', value= blog.body)
                br
                br
                input.btn.btn-primary(type='submit', value='Edit')
