extends layout

block content
  .jumbotron
         i
         h1.blue Personal Blog
         if isLoggedIn
             h2 log Out
         ul
             each blog, i in blogs
                 li.list-group-item
                    a(href='/blog/'+blog._id)= blog.title
                    = blog.author
